body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.seamuseumpadding {
	margin: 0;
	padding: 0% 30%;
}

.frontpagepadding {
	margin: 0;
	padding: 0% 15%;
}
.react-bootstrap-table>table>thead>tr>th .filter-label {
  width: 100%
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.capitalize {
    text-transform: capitalize;
}

.bg {
	background-image: url('https://i.imgur.com/8S1M8HU.png'); 
	height: 60vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.abouttech {
	margin: 0;
	padding: 0% 2.5%;
}

.borderdiv {
    border:1px solid black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
