body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.seamuseumpadding {
	margin: 0;
	padding: 0% 30%;
}

.react-bootstrap-table>table>thead>tr>th .filter-label {
  width: 100%
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.capitalize {
    text-transform: capitalize;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
